<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      {{title}}
    </title>
    {% if description %}
      <meta name="description" content="{{description}}"/>
    {% endif %}
    {% block head %}{% endblock %}
    
    <!--Favicons-->
    <!--Use https://realfavicongenerator.net/ to generate and download your favicons-->
    <link rel="apple-touch-icon" sizes="144x144" href="/static/img/icon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/img/icon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/img/icon/favicon-16x16.png">
    <link rel="manifest" href="/static/img/icon/site.webmanifest">
    <link rel="mask-icon" href="/static/img/icon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    
    
    <!-- Font Awesome CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
      integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
      crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Bootstrap CDN -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.4/gsap.min.js"></script>
        <script src="https://unpkg.com/@barba/core"></script> -->
    
    <!-- <link rel="stylesheet" type="text/css" href="/static/css/critical.css" /> -->
    
    {% if path == "home" %}
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
    {% endif %}

    <!-- EmailJs -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js"></script>
    <script type="text/javascript">
      (function () {
        // https://dashboard.emailjs.com/admin/account
        emailjs.init('RJGEF77EXlZh_tCp9');
      })();
    </script>
    <script type="text/javascript">
      window.onload = function () {
        document.getElementById('estimate-form').addEventListener('submit', function (event) {
          event.preventDefault();
          // generate a five digit number for the contact_number variable
          // this.contact_number.value = Math.random() * 100000 | 0;
          // these IDs from the previous steps
          emailjs.sendForm('tomcat_service', 'hc_llc_contact', this)
            .then(function () {
              console.log('SUCCESS!');
            }, function (error) {
              console.log('FAILED...', error);
            });
        });
      }
    </script>
  </head>
  <body>
    {% include "./partials/navbar.html" %}

    <main id="mai">
      {{ content | safe }}
    </main>

    {% include "./partials/footer.html" %}

    <script src="/static/js/alpine.js"></script>

    {% if path == "home" %}
      <!-- Netlify Identity Widget -->
      <!-- Needed only if you are using Netlify Identity feature -->
      <script type="text/javascript" src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    {% endif %}

    <!-- Scroll Reveal.js -->
    <script src="https://unpkg.com/scrollreveal@4.0.0/dist/scrollreveal.min.js"></script>
    <!-- Main Js -->
    <script src="/static/js/main.js"></script>
  </body>
</html>