<!-- Nav/Contact bar -->
<nav id="nav" class="container-fluid">
    <div id="contact-bar" class="container-fluid">
        <div class="container-fluid">
            <span class="phone contact-item"><i class="fa-solid fa-phone"></i><a href="tel:6055936562"></a> Phone: +1 (605)593-6562</span>
            <span class="email contact-item"><i class="fa-solid fa-envelope"></i> Email: joejackson85@yahoo.com</span>
            <span class="social contact-item">
                <!-- <i class="fa-brands fa-instagram"></i> -->
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-google-plus-g"></i>
                <!-- <i class="fa-brands fa-linkedin-in"></i> -->
            </span>
        </div>
    </div>

    <div id="navigation">
        <div id="logo">
            <a href="#">HC LLC</a>
        </div>

        <div id="menu-btn">
            <span class="lines"></span>
        </div>

        <!-- <ul id="main-menu">
            <li class="menu-item"><a href="#about">About</a></li>
            <li class="menu-item"><a href="#services">Services</a></li>
            <li class="menu-item"><a href="#why-us">Why Us</a></li>
            <li class="menu-item"><a href="#">Our Work</a></li>
            <li id="menu-contact" class="menu-item"><a href="#estimate" class="btn">Contact</a></li>
        </ul> -->

        {% if navigation.items %}
            <ul id="main-menu">
                {% for item in navigation.items %}
                    {% if item.url == "#estimate" %}
                        <li id="menu-contact" class="menu-item">
                            <a class="menu-item btn" href="{{ item.url }}">{{ item.text }}</a>
                        </li>
                    {% else %}
                    <li class="menu-item">
                        <a class="menu-item" href="{{ item.url }}">{{ item.text }}</a>
                    </li>
                    {% endif %}
                {% endfor %}
            </ul>
        {% endif %}
    </div>
</nav>